@import "nib"
@import url('highlight.css')

body
	color #444 
	font-family "PT Serif", sans-serif
	font-size 18px
	line-height 1.5
	margin 0 
	padding 0
	text-rendering optimizeLegibility
	 
header
	border-top 5px solid #2a2a2a
	padding 40px 0
	
#header
	display block
	position relative
	text-align center
	
	&:after
		content ""
		display block
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
		height 5px
		width 100%
		background #eee
		z-index 1
		
	h1 
		padding 0
		margin 0
		line-height 1px

	a
		display inline-block
		color #222
		font-size 24px
		line-height 28px
		font-family 'Lora', serif
		font-weight bold
		text-transform uppercase
		text-decoration none
		text-align center
		position relative
		z-index 9
		background #fff
		padding 0 10px
		margin 0
		
		@media screen and (max-width 767px)
			font-size 18px
			line-height 23px
			
#subheader
	display block
	position relative
	
	h2
		display block
		color #222
		font-size 14px
		font-weight bold
		letter-spacing 1px
		line-height 1.4
		padding 0 0 20px 0
		text-align center
		text-transform uppercase
		width 100%
		max-width 400px
		margin 0 auto
		margin-top 10px
	
		a
			color #222
			text-decoration none
			border-bottom 1px double #222
			
	&:after
		content ""
		display block
		height 2px
		width 100%
		background linear-gradient(to right, rgba(229,229,229,0) 0%, #eee 50%, rgba(229,229,229,0) 100%)
			
#profile-image
	display block
	width 110px
	height 110px
	margin 18px auto
	box-shadow 0 0 5px #999
	border-radius 110px
	position relative
	
	&:before
		content ""
		display block
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 100px
		height 100px
		background url(/img/patrickdappollonio.jpg) no-repeat center center
		background-size 100% 100%
		border-radius 100px


#blogposts
	display block
	
	.blogpost-item
		display block
		padding-bottom 80px
		max-width 750px
		margin 0 auto
		position relative
		
		&:after
			content ""
			display block
			position absolute
			bottom 28px
			left 0
			right 0
			height 1px 
			background #ccc
		
		&:last-child
			padding-bottom 0
			margin-bottom 0
			border-bottom none
		
		h3
			font-size 30px
			line-height 1.2
			font-weight 400
			font-family "Lora", serif
			
			a
				color #222
				
				&:hover, &:focus, &:active
					text-decoration underline
		
		h4
			font-size 18px
			line-height 1.4
			display block
			margin-top -14px
			margin-bottom 25px
			font-style italic
			color #555
					
		i
			display block
			float right
			width 300px
			max-width 100%
			height 150px
			background-size cover
			background-position center center
			margin 12px
			margin-right 0
			border-radius 3px
			position relative
			box-shadow 1px 1px 1px #ccc
	
			@media screen and (max-width 550px)
				display block
				width 100%
				
			@media screen and (min-width 500px) and (max-width 630px)
				max-width 200px
					
		p
			font-size 16px
			line-height 1.6
			color lighten(#222, 50%)
			
		span
			display block
			margin-top 15px
			font-size 13px
			font-style italic
			color lighten(#222, 50%)
			
#pagination
	display block
	text-align center
	margin-top 50px
	
	.pagination-links
		clearfix()
		display block
		margin 0 auto
		max-width 600px
	
	.pagination-prev, .pagination-next
		display block
		font-size 13px
		text-transform uppercase
		font-weight bold
		font-family "Lora", serif
		color #222
		text-decoration none
		transition color .2s ease-in-out
		
		&:hover, &:active, &:focus
			color lighten(#222, 50%)
		
		
	.pagination-prev
		float left
		
	.pagination-next
		float right
			
#single
	display block

#post
	#post-heading
		display block
		padding-bottom 20px
		position relative
		text-align center
			
		h1
			font-size 42px
			line-height 1.1
			color #222
			font-weight 400
			font-family "Lora", serif
			
			@media screen and (max-width 500px)
				font-size 36px
				line-height 1.2
				text-align left
			
			a
				color #222
				
		h2
			font-size 24px
			line-height 1.4
			display block
			margin 0 auto
			margin-top -9px
			margin-bottom 25px
			font-style italic
			color #777
			max-width 600px
			
			@media screen and (max-width 500px)
				font-size 20px
				text-align left
				
		.meta
			display block
			margin-top 10px
			font-size 14px
			font-style italic
			color #999
			
			span
				&:first-child:after
					content "–"
					display inline-block
					margin 0 6px
					
				@media screen and (max-width 500px)
					display block
					
					&:first-child:after
						display none
			
	#post-content
		padding-top 40px
		font-size 18px
		line-height 1.8
		max-width 750px
		margin 0 auto
		
		table
			clearfix()
			min-width 200px
			max-width 100%
			margin-bottom 10px

			th, td
				padding 0 5px
			
			tr
				border-bottom 1px solid #ccc
				
			thead tr
				border-bottom-width 2px
		
		h1, h2, h3, h4, h5, h6
			font-weight 600
			font-family "Lora", serif
			margin-top 40px
			margin-bottom 20px
			position relative
			line-height 1.2
			
		h1
			font-size 32px
		
		h2
			font-size 28px
			
		h3
			font-size 24px
			
		h4
			font-size 20px
			
		h5
			font-size 16px
			
		h6
			font-size 12px
			
		a
			color #222
			text-decoration underline
			transition color .2s ease-in-out

			&:hover, &:focus, &:active
				color lighten(#222, 50%)
				
		p:empty
			display none
				
		code
			padding 3px 7px
			background rgba(0, 0, 0, .04)
			color #333
			font-family "Inconsolata", monospace
			
		pre
			padding 8px 12px
			background-color #272822
			border 0 
			
			code
				color #ddd
				padding 0
				font-size 15px
				line-height 1.8
				background-color transparent
				font-family "Inconsolata", monospace
				
		p img
			max-width 100%
			border-radius 3px
			display block
			margin 0 auto
			margin-bottom 10px
			
			alignleft()
				max-width 230px
				display block
				float left 
				margin 18px
				margin-left 0
								
			alignright()
				max-width 230px
				display block
				float right 
				margin 18px
				margin-right 0
				
			fullscreen()
				display block
				margin 0 auto
				width 100%
				margin-bottom 10px
			
			&.alignleft
				alignleft()
				
			&[alt$=":l"]
				alignleft()
				
			&.alignright
				alignright()
			
			&[alt$=":r"]
				alignright()
			
			&.full
				fullscreen()
			
			&[alt$=":f"]
				fullscreen()
			
			@media screen and (max-width 499px)
				width 100%
				display block
					
		blockquote
			margin 24px 0 26px
			color lighten(#222, 40%)
			
		.embed
			display block
			margin 20px auto 10px auto

			iframe
				width 100%
				max-width 100%
	
	#post-share
		display block	
		max-width 780px
		margin 0 auto
		margin-top 30px
		
		strong
			display inline-block
			vertical-align middle
			color #999
		
		ul
			list-style none
			display inline-block
			vertical-align middle
			margin 0
			padding 0
			margin-left 8px
			
			li
				display inline-block
				font-size 25px
				margin-right 8px
				color #999
				
				&:last-child 
					margin-right 0
				
				a
					color #999
					transition color .2s ease-in-out
					
					&:hover, &:active, &:focus
						color #222
			
footer
	background #2a2a2a
	color #999
	text-align center
	padding 30px 0
	font-size 14px
	margin-top 60px
	
	p
		a
			color #ccc
			transition color .2s ease-in-out
			
			&:hover, &:focus, &:active
				color #fff
	
	ul
		list-style none
		
		li
			display inline-block
			font-size 30px
			margin 8px 30px 0 0
			
			a
				color #fff
				transition color .2s ease-in-out
				
				&:hover, &:focus, &:active
					color #999